body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FFC107 30%, #FF5722 70%);
    background-size: cover;
    animation: gradientAnimation 15s ease infinite;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    position: relative;
    z-index: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.title {
    font-size: 2em;
    color: #FF5722;
    margin: 10px 0;
    animation: scaleTitle 4s ease infinite;
}

@keyframes scaleTitle {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.login-form label {
    color: #FF5722;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FF5722;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form .login-button {
    background-color: #FF5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.login-form .login-button:hover {
    background-color: #E64A19;
}

.error {
    color: red;
    margin-top: 10px;
}

/* 댕댕이 애니메이션  */
#leaves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.leaf {
    position: absolute;
    width: 50px;
    height: 100px;
    background-size: cover;
    opacity: 0.8;
    animation: fall linear infinite;
}
@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}